*{
	margin: 0px;
	padding: 0px;
}

html,body{
	width: 100%;
	height: 100%;
}

.trackBox{
	width: 50%;
	height: 100%;
	position: absolute;
	left: 25%;
	top: 0px;
	overflow: hidden;
	background-color: darkgrey;
	border-left: 5px solid black;
	border-right:5px solid black ;
}
.track{
	width: 100%;
	height: 200%;
	list-style: none;
	position: absolute;
	top: -100%;
	display: -webkit-box;
}
.track li{
	-webkit-box-flex: 1;
	border-right: 5px dashed white;
}
.track li:nth-child(5){
	border: none;
}
#car{
	position: absolute;
	width: 15%;
	height: 20%;
	left: 42.5%;
	bottom: 10%;
	background: url(../img/战车.png) no-repeat center;
	background-size: 100%;
	/*background-color: white;*/
	/*border-radius: 10px;*/
/*	box-shadow: 0px 5px 5px black;*/
}
.otherCar{
	position: absolute;
	width: 10%;
	height: 10%;
	top: 10px;
	left: 2.5%;
	background: url(../img/幽灵.png) no-repeat center;
	background-size: 100%;
}
.otherCar1{
	position: absolute;
	width: 15%;
	height: 15%;
	top: 10px;
	left: 2.5%;
	background: url(../img/僵尸1.png) no-repeat center;
	background-size: 100%;
}
.Bullet{
	position: absolute;
	width: 2%;
	height: 4%;
	background:url(../img/bullet.png) no-repeat center;
	background-size: 100%;
}
#score{
	position: absolute;
	width: 15%;
	height: 15%;
	top: 5%;
	right: 5%;
	/*font-size: 15px;*/
	box-shadow: darkseagreen;
	color: yellow;
	}
.walk{
	animation: Walk 0.7s infinite ;
}
@keyframes Walk{
	0%{}
	50%{background: url(../img/僵尸2.png) no-repeat center;background-size: 100%;}
	100%{background: url(../img/僵尸1.png) no-repeat center;background-size: 100%;}
}
.boom{
	animation: Boom 0.5s linear both;
}
@keyframes Boom{
	0%{}
	25%{background-size: 50%;}
	50%{background-size: 100%;}
	75%{background-size: 50%;}
	100%{background-size: 100%;}
}
.boom1{
	animation: Boom1 0.4s linear both;
}
@keyframes Boom1{
	0%{transform: scale(1.1);background: url(../img/boom.png) no-repeat center;background-size: 100%;}
	50%{transform: scale(1.3);background: url(../img/boom.png) no-repeat center;background-size: 100%;}
	100%{transform: scale(1.5);background: url(../img/boom.png) no-repeat center;background-size: 100%;}
}
.item_bullet{
	position: absolute;
	width: 10%;
	height: 8%;
	background:url(../img/itembullet.png) repeat-y center;
	background-size: 100%;
}
#bulletnum{
	position: absolute;
	width: 15%;
	height: 5%;
	bottom: 2%;
	right: 42.5%;
	/*font-size: 15px;*/
	box-shadow: darkseagreen;
	color: red;
}
#remind{
	position: absolute;
	width: 15%;
	height: 5%;
	bottom: 2%;
	right: 20%;
	/*font-size: 20px;*/
	box-shadow: darkseagreen;
	color: red;
	display: none;
}
